NGINX_HOST_HTTP_PORT=8080
DOCUMENT_ROOT=project.com
SERVER_NAME=project.local
WWW_PATH=../www
FRONTEND_ETC=./etc/frontend

SSH_KEY_PATH=~/.ssh
GITHUB_OAUTH_KEY=xxxxxxxxx
BACKEND_ETC=./etc/backend

DB_PATH=../postgres
POSTGRES_DB=docker
POSTGRES_USER=docker
POSTGRES_PASSWORD=123456

WEBDAV_SERVER_NAME=st.project.local
WEBDAV_UPLOAD_PATH=../upload

SPHINX_ETC=./etc/sphinx